<div class="col-xs-12 col-sm-1">
  <%= render 'shared/links_dream', dream: @dream %>
</div>
<div class="col-xs-12 col-sm-10">
  <div class="col-xs-12 col-sm-6">
    <div class="description">
      <h4><%= dream.title %></h4>
      <hr>
      <%= dream.description %>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <div class="other-info">
      <%= link_to dreams_profile_path(dream.user) do %>
        <%= user_avatar_tag dream.user, class: 'avatar-large' %>
      <% end %>
      <div class="global-bar">
        <div class="participation-bar" style="width: <%= number_to_percentage(@dream.kitty.contribution_avancement, precision: 0) %>"></div>
        <p><%= @dream.kitty.total_contribution %> €</p>
      </div>
      <div class="amount">
        <% if dream.end_date.present? %>
          <p>Goal: collect <%= dream.kitty.goal_amount %>€ before <%= dream.end_date.strftime("%B %d, %Y") %></p>
        <% else %>
          <p>Goal: collect <%= dream.kitty.goal_amount %>€ %></p>
        <% end %>
      </div>
    </div>
  </div>
  <% if user == dream.user %>
    <div class="col-xs-12">
      <div class="edit-link">
      <%= link_to 'Edit your dream', edit_dream_path(dream), class: 'btn-dreamlist-subtile' %>
      </div>
    </div>
  <% end %>
  <div class="dream-lovers">
    <% if @dream.likes.count > 0 %>
      <div class="col-xs-12 col-sm-6">
        <h4>People who loved this dream</h4>
      </div>
      <div class="col-xs-12">
        <hr>
        <% @dream.likes.each do |like| %>
          <%= link_to dreams_profile_path(like.user) do %>
            <%= user_avatar_tag like.user, class: 'avatar' %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
