<div class="col-xs-12 col-sm-6">
  <div class="description">
    <h4><%= dream.title %></h4>
    <hr>
    <%= dream.description %>
  </div>
</div>
<div class="col-xs-12 col-sm-6">
  <div class="other-info">
    <%= cl_image_tag dream.user.avatar.path, class: 'avatar-large' %>
    <div class="global-bar">
      <div class="participation-bar" style="width: 35%"></div>
    </div>
    <div class="amount">
      <% if dream.end_date.present? %>
        <p>Goal: collect <%= dream.kitty.goal_amount %>€ before <%= dream.end_date.strftime("%B %d, %Y") %></p>
      <% else %>
        <p>Goal: collect <%= dream.kitty.goal_amount %>€ %></p>
      <% end %>
    </div>
  </div>
</div>
<% if user == dream.user %>
  <div class="col-xs-12">
    <div class="edit-link">
    <%= link_to 'Edit your dream', edit_dream_path(dream), class: 'btn-dreamlist-subtile' %>
    </div>
  </div>
<% end %>
