<div class="create-dream-card">
  <%= simple_form_for(@dream) do |f| %>
    <div class="content-form">
      <div class="form-inputs">
        <%= f.input :category, collection: Dream::CATEGORIES, label: false, prompt: "category" %>
        <%= f.input :title, label: false, placeholder: "title" %>
        <%= f.input :description, label: false, placeholder: "description" %>
        <%= f.input :end_date, label: "Ending date:"%>
        <%= f.simple_fields_for :kitty do |kitty_form| %>
          <%= kitty_form.input :goal_amount %>
          <%= kitty_form.input :private %>
        <% end %>
        <%= f.input :picture, as: :attachinary, label: "upload picture" %>
      </div>

    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "btn-dreamlist" %>
    </div>
  <% end %>
</div>
