<div class="marged">
  <div class="wrapper-profile">
    <div class="container">
      <div class="row">
        <div class="filtered-dreams">
          <h2><%=@category.capitalize %>'s dreams</h2>
          <hr>
          <% if @dreams.count > 0 %>
            <% @dreams.each do |dream| %>
              <%= render 'shared/dream_card', dream: dream %>
            <% end %>
            <%= link_to "Create yours!", new_dream_path, class: "btn-dreamlist-subtile" %>
          <% else %>
            <p>No <%= @category.capitalize %>'s dream created yet</p>
            <br>
            <br>
            <%= link_to "Create yours!", new_dream_path, class: "btn-dreamlist text-center" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
