<% content_for :meta_title, "#{@dream.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @dream.description %>
<% content_for :meta_image, cloudinary_url(@dream.picture.path) %>

<div class="wrapper">
  <div class="container">
    <%= render 'shared/show_dream/navbar' %>
      <div class="row">
        <div class="col-xs-12 col-sm-8">
          <!-- image -->
          <div class="image-dream-show" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.2) 50%), url('<%= dream_picture_path(@dream) %>');">
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="description">
            <h4><%= @dream.title %></h4>
            <p class="content"><%= @dream.description %></p>

            <% if @dream.end_date.present? %>
              <p> <span>Ending date:</span> <%= distance_of_time_in_words(Time.now, @dream.end_date) %> left</p>
            <% else %>
              <p>No limit date for this dream</p>
            <% end %>

          </div>
        </div>
      </div>

    <!--informations: description dream & kitty -->
    <div class="dream-show-description">
      <div class="row">
        <!-- partie content dream -->
        <div class="col-xs-12">

            <!-- partie kitty -->
            <div class="kitty-part">
              <div class="row">
              <!-- kitty privee et utilisateur != owner -->
                <% if current_user != @dream.user && @dream.kitty.private? %>
                  <div class="row">
                    <div class="col-xs-12">
                      <h5 class="marged-pot-closed">This money pot is closed for now.</h5>
                    </div>
                  </div>

                <!-- afficher kitty avec bar -->
                <% else %>
                  <div class="kitty-info-and-btn">
                    <% if @dream.kitty.goal_amount > 0 %>
                      <%= render 'shared/show_dream/dream_with_amount_desc', dream: @dream, user: @user %>
                    <% else %>
                      <%= render 'shared/show_dream/dream_no_amount_desc', dream: @dream, user: @user %>
                    <% end %>
                  </div>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    </div>


  <!-- sous-navigation -->
  <%= render 'shared/show_dream/under_navigation', dream: @dream %>

</div>

