<%= render 'shared/show_dream/navbar' %>
  <div class="wrapper">
    <div class="container">

        <div class="row">
          <div class="col-xs-12">

          <!-- banner -->
          <div class="banner-dream-show" style="background-image: linear-gradient(135deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.4) 50%), url('<%= dream_picture_path(@dream) %>');">

            <!-- avatar dream owner -->
            <%= link_to dreams_profile_path(@dream.user) do %>
              <%= user_avatar_tag @dream.user, class: 'avatar-large' %>
            <% end %>

            <div class="dream-owner-name">
              <%= @dream.user.first_name %> <%= @dream.user.last_name %>
            </div>

            <!-- edit your dream -->
            <div class="edit-link">
              <% if current_user == @dream.user %>
                <%= link_to 'Edit your dream', edit_dream_path(@dream), class: 'btn-dreamlist-default' %>
              <% else %>
                <%= link_to 'Follow', '#', class: 'btn-dreamlist-default' %>
              <% end %>
            </div>
          </div>

          <!--informations: description dream & kitty -->
          <div class="dream-show-description">
            <div class="row">
              <!-- partie content dream -->
              <div class="col-xs-12 col-sm-6">
                <div class="row">
                  <div class="sharing-links">
                    <div class="col-xs-12 col-sm-1">
                      <%= render 'shared/show_dream/links_dream', dream: @dream %>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-11">
                    <div class="description">
                      <p><%= @dream.description %></p>
                    </div>
                  </div>
                </div>
              </div>

              <!-- partie kitty -->
              <div class="col-xs-12 col-sm-6">
                <div class="kitty-part">
                  <!-- kitty privee et utilisateur != owner -->
                  <% if current_user != @dream.user && @dream.kitty.private? %>
                    <h4 class="text-center">This kitty is closed for now.</h4>
                  <!-- afficher kitty avec bar -->
                  <% else %>
                    <% if @dream.kitty.goal_amount > 0 %>
                        <%= render 'shared/show_dream/dream_with_amount_desc', dream: @dream, user: @user %>
                    <% else %>
                        <%= render 'shared/show_dream/dream_no_amount_desc', dream: @dream, user: @user %>
                    <% end %>
                  <% end %>

                  <div class="row text-center">
                    <div class="col-xs-12">
                      <div class="revealing" data-id="<%=@dream.id%>">
                        <%= revealing(@dream.kitty) %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- sous-navigation -->
    <%= render 'shared/show_dream/under_navigation', dream: @dream %>

  </div>

