<div class="col-xs-12 col-sm-2">
  <%= link_to dreams_profile_path(contribution.kitty.dream.user) do %>
    <%= user_avatar_tag contribution.kitty.dream.user, class: 'avatar' %>
  <% end %>
  <p><%= contribution.kitty.dream.user.first_name %> <%= contribution.kitty.dream.user.last_name %></p>
</div>
<div class="col-xs-12 col-sm-6">
  <h2><%= contribution.kitty.dream.title.capitalize %></h2>
  <% if contribution.message.present? %>
    <p class="text-jutify">Your message: "<%= contribution.message %>"</p>
  <% end %>
</div>
<div class="col-xs-12 col-sm-4">
    <p>You offered <%= humanized_money_with_symbol(contribution.price)%> — <%= contribution.state %></p>
    <p><%= time_ago_in_words(contribution.created_at)%> ago </p>
</div>
<div class="col-xs-12 col-sm-8 col-sm-offset-2">
  <% if contribution.private == true %>
    <p><%= contribution.kitty.dream.user.first_name %> can't see your contribution yet.</p>
  <% else %>
    <p><%= contribution.kitty.dream.user.first_name %> can see your contribution.</p>
  <% end %>
</div>

