<div class="marged">
  <div class="wrapper-profile">
    <div class="container">
      <div class="row">
        <%= render 'shared/profile_show', user: @user %>
          <div class= "tab-content", id="tab-user-dreams-in-cat">
            <div class="buttons">
              <%= render 'shared/buttons_cat', categories: @user.categories %>
            </div>
            <% @dreams.each do |dream| %>
              <%= render 'shared/dream_card', dream: dream %>
            <% end %>
          </div>
          <div class= "tab-content hidden", id="tab-loved-dreams">
            <div class="buttons">
              <%= render 'shared/buttons_cat', categories: @user.categories_liked %>
            </div>
            <% Dream::CATEGORIES.each do |category| %>
              <% if @user.loved_dream_in?(category) %>
                <% loved_dreams = @user.liked_dreams.where(category: category) %>
                  <% loved_dreams.each do |dream| %>
                    <%= render 'shared/dream_card', dream: dream %>
                  <% end %>
              <% end %>
            <% end %>
          </div>
          <div class= "tab-content hidden", id="tab-followed-dreams">
            <div class="buttons">
              <%= render 'shared/buttons_cat', categories: Dream::CATEGORIES %>
            </div>
              <% if @user.following.each do |user_followed| %>
                <% user_followed.dreams.each do |dream| %>
                  <%= render 'shared/dream_card', dream: dream %>
                <% end %>
              <% end %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
