<div class="marged-navbar">
  <div class="wrapper">
  <%= render 'shared/navbar_settings' %>
    <div class="container">
      <div class="row">
        <div class="tab-content-settings" id="tab-account">
          <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <div class="big-card-create-dream account">
              <h2><%= @user.first_name %>'s profile</h2>
              <hr>
              <div class="content-form">
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                  <br>
                    <%= user_avatar_tag @user, class: "profile-image" %>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-sm-offset-2">
                  <br>
                    <p><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></p>
                    <p><%= @user.email %></p>
                  </div>
                </div>
              </div>
              <%= link_to "Edit your profile", edit_profile_path, class: "btn-dreamlist-blue" %>
            </div>
          </div>
        </div>

        <div class="tab-content-settings hidden" id="tab-contributions">
          <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <% @user.contributors.ordered.each do |contribution| %>
              <div class="contribution-card">
                <%= render 'contribution_card', contribution: contribution %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="tab-content-settings hidden" id="tab-messages">
          <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <% @user.donators.ordered.each do |contribution| %>
              <div class="contribution-card">
                <%= render 'received_contribution_card', contribution: contribution %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="tab-content-settings hidden" id="tab-money">
          <div class="col-xs-12 col-sm-offset-2 col-sm-8">
            <% @user.dreams.each do |dream| %>
              <div class="contribution-card">
                <%= render 'money_pot_card', dream: dream %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
