<div class="navbar-dreamlist navbar-dreamlist-fixed">

  <div class="navbar-wagon-left hidden-xs hidden-sm">
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <%= link_to 'Explore', '', class: 'dropdown-toggle navbar-wagon-item navbar-dreamlist-button', "data-toggle" => "dropdown"  %>
        <ul class="dropdown-menu navbar-wagon-dropdown-menu left">
          <% Dream::CATEGORIES.each do |category| %>
            <li>
              <%= link_to dreams_path(category: category) do %>
                <%= t(".profile", default: category) %>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="navbar-wagon-item">
      <!-- button to create a dream -->
      <%= link_to t(".top_call_to_action", default: "Create a dream"), new_dream_path, class: "navbar-wagon-item navbar-dreamlist-button" %>
    </div>
  </div>

  <!-- Logo -->
  <div class="navbar-middle">
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo-dreamlist-text1.png" %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Search form -->
      <form action="/dreams" method="get">
        <div class="search">
          <%= image_tag "search.png", class: "search-icon" %>
          <input type="text" name="query" id="search-input" placeholder="Search for a dream...">
          <button type="submit" class="navbar-wagon-search-btn"></button>
        </div>
      </form>

      <!-- Notification -->
      <div class="dropdown">
        <%= content_tag "div", class: "dropdown-toggle navbar-wagon-item navbar-wagon-link navbar-alarm", "data-toggle" => "dropdown" do %>
          <div class="badge-container">
            <%= image_tag "alarm.png", class: "alarm" %>
            <% if current_user.notifications.where(read: false).count > 0 %>
              <div class="badge badge-blue"><%= current_user.notifications.where(read: false).count %></div>
            <% end %>
          </div>
        <% end %>
        <% if current_user.notifications.count > 0 %>
          <ul class="alarm-ul dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <% current_user.notifications.ordered.limit(25).each do |notification| %>
              <li class="notif-<%= notification.read ? 'read' : 'unread' %>">
                <%= link_to notification_path(notification) do %>
                  <%= notification.content %>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= user_avatar_tag current_user, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li class="text-center">
              <%= link_to dreams_profile_path(current_user) do %>
                <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li class="text-center">
              <%= link_to profile_path(current_user) do %>
                <%= t(".profile", default: "Settings") %>
              <% end %>
            </li>
            <li class="text-center">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t(".sign_out", default: "Sign out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Sign in"), new_user_session_path, class: "navbar-wagon-item navbar-dreamlist-button" %>
      <%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path, class: "navbar-wagon-item navbar-dreamlist-button" %>
      <!-- Search form -->
      <form action="/dreams" method='get'>
        <div class="search">
          <%= image_tag "search.png", class: "search-icon" %>
          <input type="text" name="query" id="search-input" placeholder="Search for a dream...">
          <button type="submit" class="navbar-wagon-search-btn"></button>
        </div>
      </form>

    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <% if user_signed_in? %>
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Dreams", dreams_profile_path(current_user) %></li>
          <li><%= link_to "Create a dream", new_dream_path %></li>
          <li><%= link_to "Profile", profile_path(current_user) %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% else %>
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to t(".sign_in", default: "Sign in"), new_user_session_path %></li>
          <li><%= link_to t(".sign_in", default: "Sign up"), new_user_registration_path %></li>
        </ul>
      </div>
    </div>
  <% end %>
</div>

