<div class="col-xs-12">
  <div class="profile-information">
    <div class="row">
      <div class="col-xs-6 col-sm-8">
        <div class="user-description">
          <h2><%= user.first_name.capitalize %> <%= user.last_name.capitalize %></h2>
          <div class="text-inline">
            <p class="nb-follower"><%= user.followers.count %> followers </p>
            <p class="nb-following"><%= user.following.count %> following </p>
          </div>
          <div class="edit-link">
            <% if current_user == user %>
              <%= link_to 'Edit your profile', edit_profile_path(user), class: 'btn-dreamlist-default' %>
            <% else %>
              <div class="follow-actions" data-id="<%= user.id %>">
                <%= follow_action_for(user) %>
              </div>
            <% end %>
          </div>
          <% if user == current_user %>
            <br>
            <br>
            <%= link_to "Create a dream", new_dream_path, class: "btn-dreamlist" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-4">
        <%= user_avatar_tag user, class: 'avatar-large' %>
      </div>
      <div class="col-xs-12">
        <br>
        <br>
        <br>
        <div class="dreams-menu">
          <div class="navbar-right-links text-center">
            <div class="tabs">
              <%= link_to 'Dreams', '#', class: "navbar-dreamlist-button text-center tab", "data-target" => "#tab-user-dreams-in-cat" %>
              <%= link_to 'Dreams liked', '#', class: "navbar-dreamlist-button text-center tab", "data-target" => "#tab-loved-dreams" %>
              <%= link_to 'Following', '#', class: " navbar-dreamlist-button text-center tab", "data-target" => "#tab-followed-users" %>
              <%= link_to 'Following dreams', '#', class: " navbar-dreamlist-button text-center tab", "data-target" => "#tab-followed-dreams" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
