<!-- information about kitty evolution -->
<% if (current_user != dream.user) %>
  <div class="kitty-total-amount">
    <p> Total: </p>
    <p class="strong-black"><%= (dream.kitty.total_contribution_public + dream.kitty.total_contribution_private).to_i %> €</p>
  </div>
<% else %>
  <div class="kitty-total-amount">
    <p> Total: </p>
    <p class="strong-black"><%= dream.kitty.total_contribution_public.to_i %> €</p>
  </div>
<% end %>

<div class="two-columns">
  <div class="kitty-details">

  <% if @dream.kitty.private? %>

    <h5 class="strong-green">You already saved <%= @dream.kitty.total_contribution_public.to_i %> € for your dream</h5>

  <% else %>

   <% if dream.kitty.total_contribution_public == 0 %>
      <h5>There is no public contribution for now. <span class="strong-green-small"><%= link_to "Be the first one!", new_kitty_contributor_path(dream.kitty) %></span></h5>
    <% else %>
      <div class="in-column">
        <h5>Money pot information:</h5>
      </div>
      <div class="in-column">
        <p class="strong-green"><%= @dream.kitty.total_contribution_public.to_i %> €</p>
        <p>collected</p>
      </div>
      <div class="in-column">
        <% if !@dream.kitty.private? %>
          <p class="strong secret"><%= @dream.kitty.public_contributors_count %></p>
          <p>contributions</p>
        <% end %>
      </div>

      <div class="in-column">
        <% if dream.end_date.present? %>
          <p class="strong"><%= distance_of_time_in_words(Time.now, dream.end_date) %></p>
          <p>left</p>
        <% else %>
          <p class="strong">No limit date </p>
          <p>for this dream</p>
        <% end %>
      </div>
    <% end %>

    <% end %>
  </div>

  <% if !(dream.kitty.total_contribution_private == 0 && dream.kitty.total_contribution_public == 0) %>
    <%= render 'shared/show_dream/kitty_infos_private_contribution', dream: @dream, user: @user %>
  <% end %>

</div>

<div class="kitty-no-goal-amount">
  <h5>There is no goal amount for this money pot. Feel free to contribute as much as you wish!</h5>
</div>

