<!-- information about kitty evolution -->
  <!-- barre avancement kitty -->
  <div class="global-bar">
    <div class="participation-bar" style="width: <%= number_to_percentage(dream.kitty.contribution_avancement_public, precision: 0); %>"></div><div class="participation-bar-private" style="width: <%= number_to_percentage(dream.kitty.contribution_avancement_private, precision: 0); %>"></div>
  </div>

  <!-- text information about kitty -->
  <div class="two-columns">
    <div class="kitty-details">
      <div class="in-column">
        <p class="strong-green secret"><%= dream.kitty.total_contribution_public %> €</p>
        <p>out of <%= dream.kitty.goal_amount.to_i %> €</p>
      </div>

      <div class="in-column">
        <p class="strong secret"><%= number_to_percentage(dream.kitty.real_contribution_avancement, precision: 0) %></p>
        <p>collected</p>
      </div>

      <div class="in-column">
        <p class="strong secret"><%= dream.kitty.public_contributors_count %></p>
        <p>contributions</p>
      </div>

      <div class="in-column">
        <% if dream.end_date.present? %>
          <p class="strong"><%= distance_of_time_in_words(Time.now, dream.end_date) %></p>
          <p>left</p>
        <% else %>
          <p class="strong">No limit date </p>
          <p>for this dream</p>
        <% end %>
      </div>
    </div>
    <%= render 'shared/show_dream/kitty_infos_private_contribution', dream: @dream, user: @user %>
  </div>



