<!-- information about kitty evolution -->
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <% if (current_user != dream.user) %>
      <div class="kitty-total-amount">
        <p> Money pot: </p>
        <p class="strong-black"><%= (dream.kitty.total_contribution_public + dream.kitty.total_contribution_private).to_i %> € / <%= dream.kitty.goal_amount.to_i %> €</p>
      </div>
      <% else %>
      <div class="kitty-total-amount">
        <p> Money pot: </p>
        <p class="strong-black"><%= dream.kitty.total_contribution_public.to_i %> € / <%= dream.kitty.goal_amount.to_i %> €</p>
      </div>
    <% end %>

    <!-- barre avancement kitty -->
    <div class="global-bar">
      <div class="participation-bar" style="width: <%= number_to_percentage(dream.kitty.contribution_avancement_public, precision: 0); %>"></div><% if current_user != dream.user %><div class="participation-bar-private" style="width: <%= number_to_percentage(dream.kitty.contribution_avancement_private, precision: 0); %>"></div><% end %>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6">
    <div class="revealing" data-id="<%=@dream.id%>">
      <% if (current_user != dream.user) && @dream.kitty.secret? %>
        <%= link_to 'Disclose secret contributions', kitty_reveal_path(@dream.kitty), method: :put, remote: true,
        data: { confirm: '',
          'text': 'Are you sure you want to reveal all the secret contributions?',
          'width': '400px',
          'customClass': 'modal',
          'confirm-button-text': 'Yes',
          'cancel-button-text': 'Cancel',
          'confirm-button-color': '#526889',
          'sweet-alert-type': 'info'}, class: 'btn-dreamlist-blue width_100 btn-reveal' %>
      <% end %>
      <% if (current_user == dream.user) && @dream.reached == false %>
        <%= link_to 'Dream realized', realized_dream_path(@dream), method: :put, remote: true,
        data: { confirm: '',
          'text': 'Are you sure you realized this dream? If so, no one will be able to contribute anymore.',
          'width': '400px',
          'customClass': 'modal',
          'confirm-button-text': 'Yes',
          'cancel-button-text': 'Cancel',
          'confirm-button-color': '#526889',
          'sweet-alert-type': 'info'}, class: 'btn-dreamlist-blue width_100 btn-reveal' %>
      <% end %>
    </div>
  </div>

</div>
  <!-- text information about kitty -->
  <div class="two-columns">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="kitty-details">
          <% if dream.kitty.total_contribution_public == 0 %>
            <h5>There is no public contribution for now. <span class="strong-green-small"><%= link_to "Be the first one!", new_kitty_contributor_path(dream.kitty) %></span></h5>
          <% else %>


            <h5>Public contributions</h5>

            <div class="metric-container">
              <div class="metric">
                <p class="strong-green"><%= dream.kitty.total_contribution_public.to_i %> €</p>
                <p>out of <%= dream.kitty.goal_amount.to_i %> €</p>
              </div>


              <div class="metric">
                <p class="strong"><%= number_to_percentage(dream.kitty.real_contribution_avancement, precision: 0) %></p>
                <p>collected</p>
              </div>


              <div class="metric">
                <p class="strong"><%= dream.kitty.public_contributors_count %></p>
                <p>contributions</p>
              </div>
            </div>

          <% end %>
        </div>
      </div>

      <div class="col-xs-12 col-sm-6">
        <% if !(dream.kitty.total_contribution_private == 0 && dream.kitty.total_contribution_public == 0) %>
          <%= render 'shared/show_dream/kitty_infos_private_contribution', dream: @dream, user: @user %>
        <% end %>
      </div>

      </div>


  </div>



