<div class="navbar-show-dream navbar-show-dream-sticky">
    <!-- avatar dream owner -->
    <div class="info-owner">
      <%= link_to dreams_profile_path(@dream.user) do %>
        <%= user_avatar_tag @dream.user, class: 'avatar-medium' %>
      <% end %>

      <div class="name-edit">
        <p><%= @dream.user.first_name %> <%= @dream.user.last_name %></p>
        <!-- edit or follow your dream -->
        <div class="edit-link">
          <% if current_user == @dream.user %>
            <%= link_to 'Edit your dream', edit_dream_path(@dream), class: 'btn-dreamlist-default' %>
          <% else %>
            <div class="follow-actions" data-id="<%= @dream.user.id %>">
              <%= follow_action_for(@dream.user) %>
            </div>
          <% end %>
        </div>


      </div>
      <%= render 'shared/show_dream/links_dream', dream: @dream%>
    </div>


    <div class="show-navbar-btn-items">
      <div class="like-part">
        <div class="like-actions" data-id="<%=@dream.id%>">
          <%= like_action_for(@dream) %>
        </div>
      </div>
      <% if current_user != @dream.user && @dream.kitty.private? %>
        <!-- <h5>kitty closed</h5> -->
      <% else %>
        <%= link_to "Support this dream", new_kitty_contributor_path(@dream.kitty), class: 'btn-dreamlist' %>
      <% end %>
    </div>
</div>
