<div class="container">
  <div class="marged">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="big-card-create-dream">
          <div class="row">
            <div class="col-xs-12">
              <div class="payment-recap">
                <h2>You are about to contribute to the dream:</h2>

                <div class="dream-info">
                  <div class="row">
                    <div class="col-xs-12 col-sm-4">
                      <%= user_avatar_tag @contributor.kitty.dream.user, class: "avatar-square-dreamlist" %>
                    </div>
                    <div class="col-xs-12 col-sm-8">
                      <h4 class="text-center"><%= @contributor.kitty.dream.title %></h4>
                    </div>
                  </div>
                </div>


                <%= form_tag contributor_payments_path(@contributor) do %>
                  <article>
                    <div class="flex-price">
                    <label class="price">

                        <h4>Your contribution:</h4>
                        <h4><%= humanized_money_with_symbol(@contributor.price) %></h4>

                    </label>
                    </div>
                  </article>


                   <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
                    data-name="My contribution"
                    data-email="<%= current_user.email %>"
                    data-description="Contribution to <%= @contributor.kitty.dream.user.first_name %>'s dream: <%= @contributor.kitty.dream.title%>"
                    data-amount="<%= @contributor.price_cents %>"
                    data-currency="<%= @contributor.price.currency %>"></script>

                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <script src="https://js.stripe.com/v3/"></script>

<div class="wrapper">
  <div class="marged-stripe">
    <div class="stripe-card">
    <form action="<%= contributor_payments_path(@contributor) %>" method="post" id="payment-form">

      <div class="group">
        <label>
          <span>Name</span>
          <input name="cardholder-name" class="field" placeholder="Jane Doe" />
        </label>
      </div>
      <div class="group">
        <label>
          <span>Card</span>
          <div id="card-element" class="field"></div>
        </label>
      </div>
      <button class='stripe-button' type="submit">Pay $25</button>
      <div class="outcome">
        <div class="card-error" role="alert"></div>
        <div class="success">
          Success! Your Stripe token is <span class="token"></span>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
 -->
